* {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
p, h1, h2 {
    margin: 0px 0px;
}
.container {
    margin: 0 auto;
    width: 1300px;
}
.navigation {
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 80, 180);
    padding: 10px 0px;

}
.navigation__half__empty {
    width: 60%;
}
.navigation__links {
    width: 40%;
}
.navigation__link {
    text-decoration: none;
    color: white;
}
.header {
    background-color: rgb(50, 80, 180);
    color: white;
    margin-bottom: 20px;
    position: relative;
}
.dev__name {
    padding-left: 90px;
}
.dropdown:hover .dropdownPhoto {
    display: block;
}
.dropdownPhoto {
    display: none;
    position: absolute;
    top: 74px;
    left: 382px;
    height: 520px;
    width: 918px;
    border-radius: 10px;
}

.my__picture {
    background-image: url(assets/img/my_picture2.jpg);
    background-size: cover;
}
.dev__job {
    font-style: italic;
    padding-left: 100px;

}
.main {
    text-align: right;
    display: flex;
}
.short {
    position: relative;
    margin-left: 20px;
    width: 28%;
    margin-left: 10px;
}
.contacts {
    margin-bottom: 20px;
}
.contacts__geo::after {
    display: inline-block;
    content: "";
    background-image: url(assets/img/geolocation.png);
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__mail::after {
    display: inline-block;
    content: "";
    background-image: url(assets/img/mail.png);
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__phone::after {
    display: inline-block;
    content: "";
    background-image: url(assets/img/phone.png);
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__telegramm::after {
    display: inline-block;
    content: "";
    background-image: url(assets/img/telegramm.png);
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__git::after {
    display: inline-block;
    content: "";
    background-image: url(assets/img/github.png);
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__discord::after {
    display: inline-block;
    content: "";
    background-image: url(assets/img/discord.png);
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.education {
    margin-bottom: 20px;
}
.education__link {
    text-decoration: none;
    color: black;
}
.dropdown {
    transition: all 0.4s;
}
.dropdown:hover .dropdownImg {
    display: block;
}
.dropdownImg {
    display: none;
    position: absolute;
    top: 0;
    left: 374px;
    height: 520px;
    width: 918px;
    border-radius: 10px;
}
.education__bru {
    background-image: url(assets/img/bru1.jpg);
    background-size: cover;

}
.education__IT_lab {
    background-image: url(assets/img/it_lab.jpg);
    background-size: cover;
}
.education__rs {
    background-image: url(assets/img/rs_school.png);
    background-size: cover;
}
.education__hexlet {
    background-image: url(assets/img/hexlet.jpg);
    background-size: cover;
}
.skills {
    margin-bottom: 20px;
}
.skills__subtitle {
    font-weight: bold;
    margin-top: 10px;
}
.long {
    width: 72%;
    margin-left: 20px;
}
.empty_picture {
    background-image: url(assets/img/try_table.jpg);
    background-size: cover;
    height: 520px;
    width: 914px;
    border-radius: 10px;
}